.footer {
    background: #304463;
    color: white;
    padding: 3rem 0 1rem;
    margin-top: 0;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #78a7ff, #b5d3ff, #78a7ff);
    opacity: 0.4;
}

.footer h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer-logo {
    background-image: url('../../assets/image/jti_polinema.png');
    width: 300px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: -50px;

    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.4));
}
