.footer {
    background: var(--secondary-color);
    color: white;
    padding: 3rem 0 1rem;
    margin-top: 0rem;
}

.footer h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer a {
    transition: all 0.3s;
}

.footer a:hover {
    color: var(--accent-color) !important;
    padding-left: 5px;
}

.footer-logo {
    background-image: url('../../assets/image/jti_polinema.png');
    
    width: 300px; 
    height: 200px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left; 
    margin-top: -50px;
}
